h2 {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
}

.new-todo-form {
  display: grid;
  grid-template-columns: 1fr auto;
  flex-direction: row;
  row-gap: 20px;
  margin-bottom: 20px;
}

.new-todo-form input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.new-todo-form button {
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  font-weight: 700;
  color: #fff;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.todo-table th,
.todo-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.todo-table th {
  background-color: #4CAF50;
  color: white;
}

.todo-table tr:hover {
  background-color: #f1f1f1;
}

.todo-table td input {
  width: 100%;
  padding: 6px;
}

/* style.css */
.success-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 1rem;
}