.new-todo-form {
  margin-bottom: 20px;
}

.new-todo-form input {
  padding: 8px;
  margin-right: 8px;

}

.kanban-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  justify-content: space-between;
}

.kanban-lane {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  min-height: 400px;
}

.kanban-lane h3 {
  text-align: center;
  margin-bottom: 5px;
}

.todo-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  padding-right: 60px;
}

.action-btns {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 1;
}

.todo-item input {
  width: 100%;
}

.button-wrapper {
  padding-top: 10px;
}

.todo-item button {
  margin: 0 5px 0 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

input[type="text"] {
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.action-btn {
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
  vertical-align: top;
  padding: 0;
  background-color: transparent;
  line-height: 1;
}

.action-btn:hover {
  background-color: transparent;
}

@media screen and (max-width:767px) {


  .kanban-board {
    display: block;
  }

  .kanban-lane {
    min-height: 0;
  }

  .loader {
    min-height: 300px;
  }
}